<style>
    /* .page-wrapper {
        overflow: auto;
        background: #ffffff;
        padding-bottom: 12vh;
    }

    .p-inputtext {
        font-size: 1.2rem !important;
    } */
</style>
<div class="page-wrapper">

    <div class="page-container2">
        <div style="padding-top:100px;padding-left: 50px;">
            <h2>Thông tin cá nhân </h2>
            <!-- BREADCRUMB-->
            <form *ngIf="userDetails" #form="ngForm" (submit)="onSubmit(form)" class="needs-validation" novalidate>
                <input type="text" disabled name="password">
                <h2>{{ userDetails.fullname }}</h2>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Mã bộ môn: </label>
                        <input disabled name="departmentId" style="width: 150px;" class="form-control" [(ngModel)]="userDetails.departmentId" placeholder="Mã giảng viên" required>
                        <div class="invalid-feedback">
                            Vui lòng điền dữ liệu!
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Mã giảng viên: </label>
                        <input disabled name="employeeId" #employeeId="ngModel" [(ngModel)]="userDetails.employeeId" style="width: 150px;" class="form-control" required>
                        <div class="invalid-feedback">
                            Vui lòng điền dữ liệu!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Tên giảng viên: </label>
                        <input name="fullname" style="width: 200px;" class="form-control" [(ngModel)]="userDetails.fullName" required>
                        <div class="invalid-feedback">
                            Vui lòng điền dữ liệu!
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Số điện thoại: </label>
                        <input name="password" #password="ngModel" [(ngModel)]="userDetails.phoneNumber" style="width: 150px;" class="form-control" required>
                        <div class="invalid-feedback">
                            Vui lòng điền dữ liệu!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom03">Giới tính</label>
                        <input name="gender" #gender="ngModel" [(ngModel)]="userDetails.gender" type="text" class="form-control" style="width:100px" placeholder="Giới tính" required>
                        <div class="invalid-feedback">
                            Vui lòng điền dữ liệu!
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom04">Ngày sinh</label>
                        <input name="birthday" #birthday="ngModel" [(ngModel)]="userDetails.birthday" type="text" class="form-control" style="width:150px" placeholder="Ngày sinh" required>
                        <div class="invalid-feedback">
                            Vui lòng điền dữ liệu!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom03">Địa chỉ</label>
                        <input name="address" #address="ngModel" [(ngModel)]="userDetails.address" type="text" class="form-control" style="width:300px" placeholder="Giới tính" required>
                        <div class="invalid-feedback">
                            Vui lòng điền dữ liệu!
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom04">Email</label>
                        <input name="email" #email="ngModel" [(ngModel)]="userDetails.email" type="text" class="form-control" style="width:300px" placeholder="Email" required>
                        <div class="invalid-feedback">
                            Vui lòng điền dữ liệu!
                        </div>
                    </div>
                </div>
                <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Xác nhận</button>
            </form>
        </div>
        <!-- END BREADCRUMB-->
    </div>

</div>
