<style>
    .page-wrapper {
        overflow: auto;
        background: #ffffff;
        padding-bottom: 12vh;
    }
</style>
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->

    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">

        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">

                    </div>
                </div>
            </div>
        </section>
        <!-- END BREADCRUMB-->
        <br />
        <br />

        <div class="card">
            <h2 style="text-align: center">Hệ thống quản lý trường cao đẳng cộng đồng Hưng Yên</h2>
            <div>
                <p>
                    Kính gửi quý thầy cô thân mến!
                </p>
                <p>
                    Với mong muốn không ngừng nâng cao chất lượng giảng dạy và đáp ứng ngày càng tốt hơn nhu cầu học tập, rèn luyện của sinh viên, Trường cao đẳng cộng đồng Hưng Yên đã và sẽ tiếp tục thực hiện cuộc khảo sát “ý kiến phản hồi của người học về hoạt động giảng
                    dạy của giảng viên”.
                </p>
                <p>
                    Nhà trường rất mong quý thầy cô tham gia đầy đủ vào cuộc khảo sát này với trách nhiệm cao nhất nhằm phản ánh chính xác tình hình học tập của sinh viên và nâng cao khả năng dạy và học tại trường.
                </p>
                <p> Qua đó, Nhà trường kịp thời giải quyết, xử lý các vấn đề tồn tại (nếu có) cũng như phát huy các điểm tốt, tạo nên môi trường học tập tích cực cho sinh viên. Việc làm này không chỉ là sự quan tâm của Nhà trường dành cho quý thầy cô mà chính
                    quý thầy cô cũng đang giúp bản thân mình và giúp sinh viên các khóa học sau này được thụ hưởng một môi trường đào tạo có chất lượng tốt nhất. Thông tin cá nhân của quý thầy cô sẽ được Nhà trường đảm bảo giữ bí mật tuyệt đối. Ý kiến
                    của quý thầy cô sẽ thực sự được Nhà trường lắng nghe và tiếp thu. Hệ thống khảo sát chỉ phục vụ cho mục đích nâng cao chất lượng dạy học trong Nhà trường mà không tiết lộ bất kì thông tin cá nhân nào của người học. Do đó, quý thầy
                    cô hãy cùng nhau kiến tạo cơ hội cho Nhà trường, cho bản thân và cho các thế hệ tiếp theo nhé! Cảm ơn quý thầy cô!
                </p>
            </div>
        </div>
    </div>